#**
 *               In the name of Allah
 * This file is part of The Zekr Project. Use is subject to
 * license terms.
 *
 * This file is reserved for future initialization
 * @version 1
 *#
